* {
  box-sizing: border-box;
}
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
    display: grid;
    font-family: 'Raleway', Arial, sans-serif;
    min-width: 850px;
    min-height: 100vh;
    margin: 0;
}
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.header_nav {
    display: flex;
    flex-direction: row;
    gap: 3px;
    list-style: circle;
    padding: 133px 0px 138px 50px;
    margin: 0;
}
.header_nav ul {
    display: flex;
    list-style: circle;
    max-height: 22px;
    gap: 16px;
    margin: 0;
}
.header_nav li {
  padding: 5px 5px; 
  max-height: 22px;
}
.first_ {
    display: flex;
    list-style: none;
}
.header_logo { 
    margin: 0;
    padding-left: 37px ;
    
}
.header_logo-img {

}
.header_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px 0px 0px;
    margin: 0;
    max-width: 240px;
    justify-self: end;
    font-style: normal;
}
.header_contacts ul {
    list-style: none;
}
.cover {
    position: relative;
    background-image: url('/images/backgroundCover.jpg');
    color: white;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    margin: 0;
}
.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 60%;
}
.cover_title {
    display: flex;
    flex-direction: column;
    padding: 165px 50px 104px;
    gap: 20px;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    margin: 0;
}
.text_left {
    line-height: 114.99999%;
    align-self: flex-start;
    text-align: left;
}
.text_center {
    line-height: 114.99999%;
    text-align: center;

}
.text_right{
    line-height: 114.99999%;
    align-self: flex-end;
    text-align: right;
   
}
.cover_description{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0px 50px 55px 78px;
    gap: 79px;
}
.cover_description-text{
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 18px;

}
.bet-button{
    width: 256px;
    height: 51px;
    border:1px solid white;
    color:white;
    background-color:transparent;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    line-height: 51px;
}
.car1 {

}
.car2 {

}
.card3 {

}
.about {

}
.footer {

}